.boring_header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
}
.boring_Logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
table {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-collapse: collapse;
  width: auto;
  color: white;
}
td,
th {
  border: 1px solid white;
  text-align: left;
  padding: 10px;
}
tr:nth-child(even) {
  background-color: lightslategrey;
}
.images img {
  display: flex;
  max-width: 100px;
  max-height: 100px;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
  transition-duration: 1s;
}
.images {
  display: flex;
  justify-content: center;
  align-items: center;
}
.images img:hover {
  transition-duration: 1s;
  max-width: 550px;
  max-height: 550px;
}
h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 50px;
  color: black;
  letter-spacing: -1px;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-skip-ink: none;
}
h2 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 40px;
  color: black;
  letter-spacing: -1px;
  text-align: center;
}
body {
  background-image: url("boringbackground.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.icons {
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
  justify-content: flex-end;
  height: 100px;
  align-items: center;
}
.icons img {
  height: 25px;
  width: 25px;
}
.bottom {
    color: white;
}
