.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
}
.icons {
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
  justify-content: flex-end;
  height: 100px;
  align-items: center;
}
.icons img {
  height: 25px;
  width: 25px;
}
body {
  width: 1500px;
}
.main {
  width: 1500px;
}
.logos {
  display: flex;
  width: 100%;
  height: 150px;
  align-items: center;
  justify-content: center;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
}
.logo img {
  max-height: 150px;
  max-width: 100%;
  transition-duration: 0.5s;
}
.logo img:hover {
  max-height: 200px;
  transition-duration: 0.5s;
}
.eloninfo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.eloninfo img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.eloninfo p {
  margin-left: 100px;
}
.infoheader {
  width: 100%;
  text-align: left;
}
.menubar {
  height: 100%;
  right: 0;
  display: none;
  width: 300px;
}
.icons:hover .menubar {
  display: block;
}
.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery img {
  max-width: 200px;
  margin: 0px 20px;
  transition-duration: 1s;
}
.gallery img:hover {
  transition-duration: 1s;
  max-width: 350px;
  max-height: 350px;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 50px;
  color: black;
  letter-spacing: -1px;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-skip-ink: none;
}
.form {
  background-color: lightslategrey;
}
