.boring_header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
}
.boring_Logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
table {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-collapse: collapse;
  width: auto;
  color: white;
}
td,
th {
  border: 1px solid white;
  text-align: left;
  padding: 10px;
}
tr:nth-child(even) {
  background-color: lightslategrey;
}
.images img {
  display: flex;
  max-width: 100px;
  max-height: 100px;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
  transition-duration: 1s;
}
.images {
  display: flex;
  justify-content: center;
  align-items: center;
}
.images img:hover {
  transition-duration: 1s;
  max-width: 350px;
  max-height: 350px;
}
h1 {
  color: #111;
  font-family: "Zen Dots", cursive;
  font-size: 80px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  justify-content: center;
}
h2 {
  font-family: "Zen Dots", cursive;
  font-size: 40px;
  color: black;
  letter-spacing: -1px;
  text-align: center;
}
body {
  background-image: url("/images/boringbackground.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.searchbar {
  border-radius: 50%;
}
.dropbtn {
  background-color: whitesmoke;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: whitesmoke;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: whitesmoke;
}
.background_color {
  background-color: whitesmoke;
}
.infoheadercolor {
  background-color: whitesmoke;
}
.bottom {
  font-weight: bold;
  color: white;
}
a {
  text-decoration: none;
}
.bottom a {
  text-decoration: underline;
  color: white;
}
td a {
  text-decoration: underline;
}
